{% extends 'layout.html' %}


{% block body %}
<div class="col-md-5 offset-md-3">
<div class="card card-body">
        <form action="/update/{{persona.0}}" method="POST">
            <div class = "form-group">
            <input type="text" name="RUT_persona" placeholder= "RUT persona" value="{{ persona.0}}" class ="form-control">
            </div>
            <div class = "form-group">
            <input type="text" name="Nombre_persona" placeholder= "Nombre persona" value="{{ persona.1}}" class ="form-control">
            </div>
            <div class = "form-group">
            <input type="text" name="Direccion_vivienda" placeholder= "Direccion vivienda" value="{{ persona.2}}" class ="form-control">
            </div>
            <div class = "form-group">
                <input type="text" name="MUNICIPIO_Nombre_municipio" placeholder= "Municipio" value="{{ persona.3}}" class ="form-control">
                </div>
            <button type="submit" class= "btn btn-success btn-block">
                Guardar cambios
            </button>
        
        
        </form>
    </div>
</div>


{%endblock%}