{% extends 'layout.html' %}


{% block body %}

<form action="/mostrar" method="POST">

<div class="col-md-7"><!-- tabla -->
    <table class= "table table-striped table-bordered bg-white table-sm" >
        <thead>
            <tr>
                <td>Comuna</td>
                <td>Direccion</td>
                <td>Nombre farmacia</td>
            </tr>
        </thead>
        <tbody>
            {% for farmacias in farmacia %}
            <tr>
                <td>{{ farmacias.0}}</td>
                <td>{{ farmacias.1}}</td>
                <td>{{ farmacias.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>

{% endblock %}