{% extends 'layout.html' %}


{% block body %}


<form action="/buscarfarmacia" method="POST">   
    <div class = "form-group">
        <input type="text" name="Venta" placeholder= "Venta" class ="form-control">
        </div>
        <div class = "form-group"></div>
        <button type="submit" class= "btn btn-success btn-block">
        Comprar
    </button>
    <p></p>
    <p></p>
    <p></p>
    <div class="col-md-7"><!-- tabla -->
        <table class= "table table-striped table-bordered bg-white table-sm" >
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Tipo</td>
                </tr>
            </thead>
            <tbody>
                {% for ventas in venta %}
                <tr>
                    <td>{{ ventas.0}}</td>
                    <td>{{ ventas.1}}</td>
   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
        
    </form>



{% endblock %}